################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Base64SecureURL/obj
/Base64SecureURL/bin
/Base64SecureURL/.vs/Base64SecureURL/v15
/Base64SecureURL/.vs/Base64SecureURL/v15/.suo
